@font-face {
  font-family: gilroy;
  src: url(./Gilroy-Regular.ttf);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: gilroy;
  overflow: hidden;
}

#main {
  background-color: #ffffff;
  overflow: hidden;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}

#nav-part1 h3 {
  font-size: 1.5vw;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#content {
  padding: 3vw;
  display: flex;
  margin-top: 5vh;
}

#left {
  width: 50%;
  /* background-color: red; */
}

#left h1 {
  font-size: 4vw;
  margin-bottom: 5vh;
}

#left h1 span {
  color: pink;
  border-bottom: 5px solid pink;
}

#left p {
  color: #666;
  font-weight: 500;
  line-height: 2vw;
  margin-bottom: 5vh;
}

input {
  padding: 1vw 3vw 1vw 0.4vw;
  /* margin-bottom: 2vw; */
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid;
}

#left #part1 {
  display: flex;
}

#left #part2 {
  display: flex;
}

#left button {
  cursor: pointer;
  border: 1px solid black;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #ff7eb4;
  border-radius: 5px;
  outline: none;
  margin-left: 1vw;
}

#overlay {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 50%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
}

#right {
  height: 100vh;
  width: 50%;
  /* background-color: pink; */
}